/* Base Application Styles */
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

.app {
  display: flex;
  justify-content: center;
}
.index {
  display: flex;
  justify-content: center;
}
.item-fixed {
  position: absolute ;
  top: 25px;
  bottom: 1px;
  left: 1px;
  right: 1px;
  width: 100%;
  height: 100%;
}

.test {
  position: block;
  overflow: hidden;
}

input:invalid {
  border: 2px solid red;
}

circle {
  fill: white;
  stroke-width: 0px;
}

@media print {
  circle {
    fill: black;
  }
}
